modules = ["nodejs-20", "web", "nix"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_GEMINI_API_KEY = "AIzaSyBcg7MWZI0yahCLf0kz3x9pRYb0VHXSyTQ"
CLERK_TRUSTED_ORIGINS = "https://4429f14a-b623-4fa7-8514-cdf03a3b9351-00-1chcghcrsis4h.kirk.replit.dev"
NEXT_PUBLIC_CLERK_FRONTEND_API = "https://relaxed-cougar-34.clerk.accounts.dev"
